<div class="container1" fxLayout="row">
    <div class="container1-1" fxLayout="row" fxFlex="10%" fxFlexAlign="start">
        <div><img src="../../../assets/images/Admin.png" style="height:30px;width:50px;"></div>
        <div class="name">  mySchneider<br>   <b>Localization</b>   </div>
    </div>
    <div class="container1-2" fxLayout="row" fxFlex="30%" fxFlexAlign="center " fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlexAlign="center">
                <div><img src="../../../assets/images/user.png" alt="" style="width:20px;height:20px;"></div>
                <div style="color: black;" >Dhruv</div>
                <div class="arrow-down"></div>
            </div>
            <div><img  src="../../../assets/images/Logo-green.png" style="width:70px;height:30px;"></div>
    </div>    
</div>
<div class = "container2">
    PROJECTS
</div>
<div class = "container3">
</div>
<div class="container4">    
    <app-project-list ></app-project-list> 
    <!-- <app-project-import></app-project-import> -->
</div>

