*{
    width: 100%;
    overflow: visible;
    height:100%;
    width: 100%;
}
.container1{
    background-color: white;
    height: 6%;
    min-height: 35px;
    padding-left: 2%;
    padding-right: 0;
    justify-content: space-between;
    color: #3dcd58;
    font-size:small ;
}
.container1-2{
    float:right;
    padding-right: 2%;
    
}
.arrow-down {
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;    
    border-top: 6px solid black;
    margin-top: 1.6em;
    margin-left: 0%;
    
  }
.container2{
    background-color:#3dcd58;
    height: 6%;
    color: white;
    padding: 0.5%;
    padding-left: 2%;
}
.container3{
    background-color:#238835;
    height: 2%;
    margin: 0;
}