<div class="container1" fxLayout="row">
    <div class="container1-1" fxLayout="row" fxFlex="10%" fxFlexAlign="start">
        <div><img src="../../../assets/images/Admin.png" style="width:60%;padding:10%;"></div>
        <div class="name">  mySchneider<br>   <b>Localization</b>   </div>
    </div>
    <div class="container1-2" fxLayout="row" fxFlex="20%">
            <div fxLayout="row" >
                <div><img src="../../../assets/images/user.png" alt="" style="width:2em;padding:20% 0%;"></div>
                <div style="color: black;padding: 9% 0%;" >{{Username}}</div>
                <div class="arrow-down" ></div>
            </div>
            <div><img  src="../../../assets/images/Logo-green.png" style="width:7em; padding:4% 0% 4% 10%;"></div>
    </div>    
</div>
<div class = "container2">
    PROJECTS
</div>
<div class = "container3">
</div>
