table {
    width: 95%;
    text-align:left;
    vertical-align: center;
    background-color: white;
    height: 95%;
    margin: 2%;
    padding: 10%;
    overflow-x:auto;
    overflow-y: auto;
  }
td,th{
    padding:0.5%;
    padding-left: 1%;
    border-bottom: 2px solid #f7f7f7;
}
th{
    border-right:2px solid #f7f7f7;
}
input{
    padding-left: 6%;
    width: 70%;
    background-color: white;
}
tr:hover {background-color: #f7f7f7;}