<app-projects></app-projects>
<div class="row col-sm-12 col-md-12 col-lg-12 transform2"  *ngFor="let eachrow of segmentedprojects"  
    style="background-color: #f7f7f7;width: 100%;">
  <div class="col-sm-3 col-md-3 col-lg-3 card" fxLayout="row" *ngFor="let project of eachrow">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted" >{{ project.type }}</h6>
      <h5 class="card-title"><b>{{project.name}}</b></h5>
      <p class="card-text"><span style="font-size: 12px;">Total Countries:    </span>
        <span style="font-size: 25px;">{{project.country}} </span></p>
    </div>
    <div>
      <img src="../../../assets/images/Admin.png" style="height:5em">
    </div>
  </div>
</div>